$dark-bg: #150300;
$white-text: white;
$orange-text: rgb(255,161,9);



.links {
    float: right;
    margin: 0;
    li {
        margin-left: 5px;
    margin-right: 5px;
    }
}

.navigation{
    background-color: $dark-bg;
    padding: 10px;
    margin: 10px;
    a {
        color: $white-text;
    text-decoration: none;
    }
}

ul {
    li {
        list-style: none;
        display: inline;

    }
}

.brand, .links {
    display: incline;
}
.brand {
    margin-left: 10px;
}
.links {
    float: right;
    margin: 0;
}
.links li {
    margin-left: 5px;
    margin-right: 5px;
}
.active {
    text-decoration: underline !important;
}
.footer{
    background-color: $dark-bg;
    a{
        color: $white-text;
    }
}
h1{
    font-size: 40px;
    color:$dark-bg;
}
p{
    font-size: 40px;
    color:$orange-text;
}
p2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
p3{
     text-decoration: underline;
     color: $orange-text;
}
.cafe {
    float: right;
}