@use './vendor/normalize';
@use './partials/colors';
@use './partials/spacing';

.links {
    float: right;
    margin: 0;
    li {
        margin-left: 5px;
    margin-right: 5px;
    }
}

.navigation{
    background-color: colors.$dark-bg;
    padding: spacing.$spacing-10;
    margin: 10px;
    a {
        color: colors.$white-text;
    text-decoration: none;
    }
}

ul {
    li {
        list-style: none;
        display: inline;

    }
}

.brand, .links {
    display: incline;
}
.brand {
    margin-left: 10px;
}
.links {
    float: right;
    margin: 0;
}
.links li {
    margin-left: 5px;
    margin-right: 5px;
}
.active {
    text-decoration: underline !important;
}
.footer{
    background-color: colors.$dark-bg;
    a{
        color: colors.$white-text;
    }
}
h1{
    font-size: 40px;
    color:colors.$dark-bg;
}
p{
    font-size: 40px;
    color:colors.$orange-text;
}
p2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
p3{
     text-decoration: underline;
     color: colors.$orange-text;
}
.cafe {
    float: right;
}